<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Medicine Details</h4>
                    <p class="card-description"> Enter Details </p>
                    <form method="post" enctype="multipart/form-data" action="{% url 'updatemedicinedata' dataid=data.id %}" class="forms-sample">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Medicine Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" value="{{data.Medicine_Name}}" placeholder="Name" name="mname">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Manufacturer</label>
                        <input type="text" class="form-control" id="exampleInputName1" value="{{data.Manufacturer}}" placeholder="manufacturer" name="manufacturer">
                      </div>
                       <div class="form-group">
                        <label for="exampleInputName1">Quantity In Stock</label>
                        <input type="text" class="form-control" id="exampleInputName1" value="{{data.Quantity_Stock}}" placeholder="quantity" name="quantity">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Price</label>
                        <input type="text" class="form-control" id="exampleInputName1" value="{{data.Price}}" placeholder="price" name="price">
                      </div>

                      <div class="form-group" >
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="description">{{data.Description}}</textarea>
                      </div>
                      <div>
                          <label for="exampleInputName1">Medicine Image</label>
                          <img src="{{data.Medicine_Image.url}}" height="60px" width="60px" alt="" srcset="">
                          <input type="file" class="form-control" id="exampleInputName1" placeholder="Image" name="image">
                      </div>

                      <button type="submit" class="btn btn-outline-success mr-2">Submit</button>
                      <button class="btn btn-outline-success">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  {% if messages %}
      {% for i in messages %}
          {% if i.tags == 'warning' %}
              <script>
          swal('{{i}}','', 'warning');
              </script>
          {% elif i.tags == 'error' %}
              <script>
             swal('{{i}}','', 'error');
              </script>
          {% else %}
                <script>
               swal('{{i}}','', 'success');
                </script>

          {% endif %}
      {% endfor %}
  {% endif %}


</body>
</html>
{% endblock %}