<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Doctor Details</h4>
                    <p class="card-description"> Enter Details </p>
                    <form method="post" enctype="multipart/form-data" action="{% url 'updatedoctordata' dataid=data.id %}" class="forms-sample">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Doctor Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" value="{{data.Name}}" name="name">
                      </div>
                      <div class="form-group">
                       <label for="exampleInputName1">Select Department</label><br>
                          <select class="form-control" name="department" id="">
                              <option>{{data.Department_Name}}</option>
                              {% for d in department %}
                              <option>{{d.Department_Name}}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Email</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" value="{{data.Contact_Email}}" name="email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Phone</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" value="{{data.Contact_Phone}}" name="phone">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Bio</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="5" cols="20" name="bio">{{data.Bio}}</textarea>
                      </div>
                      <div>
                          <label for="exampleInputName1">Profile Picture</label>
                        <img src="" alt="" srcset="{{data.Profile_Picture.url}}" width="60px" height="60px">
                          <input type="file" class="form-control" id="exampleInputName1" placeholder="Name" name="image">
                      </div>

                      <button type="submit" class="btn btn-outline-success mr-2">Submit</button>
                      <button class="btn btn-outline-success">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  {% if messages %}
      {% for i in messages %}
          {% if i.tags == 'warning' %}
              <script>
          swal('{{i}}','', 'warning');
              </script>
          {% elif i.tags == 'error' %}
              <script>
             swal('{{i}}','', 'error');
              </script>
          {% else %}
                <script>
               swal('{{i}}','', 'success');
                </script>

          {% endif %}
      {% endfor %}
  {% endif %}


</body>
</html>
{% endblock %}