<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .gradient-custom-3 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
</style>
<body>
<!--<div class="col-12 grid-margin stretch-card">-->
    <section class="vh-100 bg-image"
  style="background-colour:black;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create a staff account for viewing Patient Data</h2>

              <form method="post" action="{% url 'staffloginsave' %}">
                  {% csrf_token %}

                <div class="form-outline mb-4">
                  <input type="text" name="name" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="pass" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" name="passw" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

<!--                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"-->
<!--                    class="fw-bold text-body"><u>Login here</u></a></p>-->

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--                <div class="card">-->
<!--                  <div class="card-body">-->
<!--                    <h4 class="card-title">Departments</h4>-->
<!--                    <p class="card-description"> Enter Details </p>-->
<!--                    <form method="post" enctype="multipart/form-data" action="{% url 'departmentsave' %}" class="forms-sample">-->
<!--                    {% csrf_token %}-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputName1">Department Name</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="department">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleTextarea1">Description</label>-->
<!--                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="description"></textarea>-->
<!--                      </div>-->
<!--                      <div>-->
<!--                          <label for="exampleInputName1">Department Image</label>-->
<!--                          <input type="file" class="form-control" id="exampleInputName1" placeholder="Name" name="image">-->
<!--                      </div>-->

<!--                      <button type="submit" class="btn btn-primary mr-2">Submit</button>-->
<!--                      <button class="btn btn-dark">Cancel</button>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  {% if messages %}
      {% for i in messages %}
          {% if i.tags == 'warning' %}
              <script>
          swal('{{i}}','', 'warning');
              </script>
          {% elif i.tags == 'error' %}
              <script>
             swal('{{i}}','', 'error');
              </script>
          {% else %}
                <script>
               swal('{{i}}','', 'success');
                </script>

          {% endif %}
      {% endfor %}
  {% endif %}

</body>
</html>
{% endblock %}